* {
  margin: 0px;
  padding: 0px;
}

body {
  opacity: 0.9;
  background-color: rgba(199, 197, 197, 0.89);
  overflow-y: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: -2;
  height: 15%;
  width: 100%;
  background-color: green;
  opacity: 0.6;
}

.container {
  grid-area: container;
  background: url("https://th.bing.com/th/id/OIP.b7BUKIQZgP2QI6e-JqkhzwHaEo?pid=Api&rs=1");
  width: 72.6%;
  border: 5px solid;
  height: 85vh;
  float: right;
  margin-top: 2%;
  box-shadow: 2px 2px 20px 1px rgb(68, 68, 68);
  position: relative;
  left: 0px;
  overflow-y: auto;
}

.people-in-group {
  box-shadow: 2px 2px 20px 1px rgb(68, 68, 68);
  background-color: white;
  width: 26.5%;
  float: left;
  height: 86vh;
  font-size: 40px;
  text-align: center;
  margin-top: 2%;
}

.message {
  background-color: rgba(173, 250, 173, 0.945);
  font-size: 20px;
  width: 35%;
  margin: 20px 40px;
  padding: 10px 5px;
  border-radius: 3px;
  word-wrap: break-word;
}

.left {
  background-color: whitesmoke;
  float: left;
  clear: both;
}

.right {
  float: right;
  clear: both;
}

.send {
  
  text-align: center;
  bottom: 35px;
}

#messageINP {
  height: 35px;
  width: 65.5%;
  outline: none;
  font-size: 20px;
  position: sticky;
  bottom: 38px;
  left: 410px;
}

.btn {
  width: 5%;
  height: 40px;
  position: sticky;
  bottom: 38px;
  left: 1420px;
}
